@model buscandomitrago.Models.LBebida

@{
    ViewData["Title"] = "Buscando mi trago";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <div class="row">
            <div class="col-md-12">
                <input type="text" class="form-control" />
            </div>
        </div>
        @foreach (var i in Model.bebida)
        {
        <div class="row">
            <div class="col-md-3">
                <span>
                    @i.idDrink
                </span>
            </div>
        </div>

        }
    </div>*@
<div class="row">
    @foreach (var i in Model.bebida)
    {
        <div class="col-md-4 mb-30">
            <div class="feature-item">
                <div class="img">
                    <img src="@i.strDrinkThumb" class="img-fluid">
                    <div class="hover">
                        <div class="button-group">
                            <a href="#" class="favorite-feature"><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                </div>
                <div class="content-title">
                    <h4><a href="#">@i.strDrink</a></h4>
                    <p><i class="fas fa-cocktail primary-color"></i> Se sirve en: @i.strGlass</p>
                </div>
                <div class="content-middle">
                    <p class="mb-0 d-inline-block"><i class="far fa-lemon pr-1"></i> 
                        <strong>Ingredientes:</strong> @i.strIngredient1, @i.strIngredient2, @i.strIngredient3
                    </p>
                </div>
                <div class="footer-content">
                    <div class="author d-flex">
                        <p class="mb-0 align-self-center"><i class="fas fa-tag primary-color"></i> Categoria: 
                            @i.strTags
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@*<div class="row mb-30">
    <div class="col-md-4">
        <div class="feature-item">
            <div class="img">
                <img src="" class="img-fluid">
                <div class="hover">
                    <div class="button-group">
                        <a href="#" class="button-blue">For Sale</a>
                        <a href="#" class="tag-primary">Hot Offer</a>
                    </div>
                    <div class="pricing">
                        <h5 class="mb-0 color-white">$520.00 <span>/Sqft</span></h5>
                        <a href="#"><i class="fas fa-exchange-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="content-title">
                <h4><a href="#">The Quest Strom Architects modern house.</a></h4>
                <p><i class="fas fa-map-marker-alt primary-color"></i> Newport Beach, CA</p>
            </div>
            <div class="content-middle">
                <p class="mb-0 d-inline-block"><i class="flaticon-building pr-1"></i> Rooms: <strong>4</strong> | Bed: <strong>1</strong> | Bath: <strong>2</strong></p>
                <a href="#" class="favorite-feature"><i class="far fa-heart"></i></a>
            </div>
            <div class="footer-content">
                <div class="author d-flex">
                    <div class="img">
                        <img src="~/https://via.placeholder.com/37/ededed/000/" class="rounded-circle" alt="Behome">
                    </div>
                    <p class="mb-0 align-self-center">Lionel Richie</p>
                </div>
                <div class="right-content">
                    <a href="#" class="advanced"><span>a</span></a>
                </div>
            </div>

            <div class="house-feature">
                <ul class="list-feature">
                    <li>CC Camera</li>
                    <li>Wi-Fi</li>
                    <li>Power Connections</li>
                    <li>Weekley Clean</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="feature-item">
            <div class="img">
                <img src="~/https://via.placeholder.com/390x315/aaa/999/" alt="Behome" class="img-fluid">
                <div class="hover">
                    <div class="button-group">
                        <a href="#" class="button-blue">For Sale</a>
                        <a href="#" class="tag-primary">Featured</a>
                    </div>
                    <div class="pricing">
                        <h5 class="mb-0 color-white">$630.00 <span>/Sqft</span></h5>
                        <a href="#"><i class="fas fa-exchange-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="content-title">
                <h4><a href="#">Bright beautiful beach house with interior.</a></h4>
                <p><i class="fas fa-map-marker-alt primary-color"></i> Newport Beach, CA</p>
            </div>
            <div class="content-middle">
                <p class="mb-0 d-inline-block"><i class="flaticon-building pr-1"></i> Rooms: <strong>4</strong> | Bed: <strong>1</strong> | Bath: <strong>2</strong></p>
                <a href="#" class="favorite-feature"><i class="far fa-heart"></i></a>
            </div>
            <div class="footer-content">
                <div class="author d-flex">
                    <div class="img">
                        <img src="~/https://via.placeholder.com/37/ededed/000/" class="rounded-circle" alt="Behome">
                    </div>
                    <p class="mb-0 align-self-center">Lionel Richie</p>
                </div>
                <div class="right-content">
                    <a href="#" class="advanced"><span>a</span></a>
                </div>
            </div>

            <div class="house-feature">
                <ul class="list-feature">
                    <li>CC Camera</li>
                    <li>Wi-Fi</li>
                    <li>Power Connections</li>
                    <li>Weekley Clean</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="feature-item">
            <div class="img">
                <img src="~/https://via.placeholder.com/390x315/aaa/999/" alt="Behome" class="img-fluid">
                <div class="hover">
                    <div class="button-group">
                        <a href="#" class="button-blue">For Sale</a>
                        <a href="#" class="tag-primary">Hot Offer</a>
                    </div>
                    <div class="pricing">
                        <h5 class="mb-0 color-white">$630.00 <span>/Sqft</span></h5>
                        <a href="#"><i class="fas fa-exchange-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="content-title">
                <h4><a href="#">Family house noosa with mod green garden.</a></h4>
                <p><i class="fas fa-map-marker-alt primary-color"></i> Newport Beach, CA</p>
            </div>
            <div class="content-middle">
                <p class="mb-0 d-inline-block"><i class="flaticon-building pr-1"></i> Rooms: <strong>4</strong> | Bed: <strong>1</strong> | Bath: <strong>2</strong></p>
                <a href="#" class="favorite-feature"><i class="far fa-heart"></i></a>
            </div>
            <div class="footer-content">
                <div class="author d-flex">
                    <div class="img">
                        <img src="~/https://via.placeholder.com/37/ededed/000/" class="rounded-circle" alt="Behome">
                    </div>
                    <p class="mb-0 align-self-center">Lionel Richie</p>
                </div>
                <div class="right-content">
                    <a href="#" class="advanced"><span>a</span></a>
                </div>
            </div>

            <div class="house-feature">
                <ul class="list-feature">
                    <li>CC Camera</li>
                    <li>Wi-Fi</li>
                    <li>Power Connections</li>
                    <li>Weekley Clean</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row mb-50">
    <div class="col-md-4">
        <div class="feature-item">
            <div class="img">
                <img src="~/https://via.placeholder.com/390x315/aaa/999/" alt="Behome" class="img-fluid">
                <div class="hover">
                    <div class="button-group">
                        <a href="#" class="button-yellow">For Rent</a>
                        <a href="#" class="tag-primary">Featured</a>
                    </div>
                    <div class="pricing">
                        <h5 class="mb-0 color-white">$520.00 <span>/Sqft</span></h5>
                        <a href="#"><i class="fas fa-exchange-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="content-title">
                <h4><a href="#">The Quest Strom Architects modern house.</a></h4>
                <p><i class="fas fa-map-marker-alt primary-color"></i> Newport Beach, CA</p>
            </div>
            <div class="content-middle">
                <p class="mb-0 d-inline-block"><i class="flaticon-building pr-1"></i> Rooms: <strong>4</strong> | Bed: <strong>1</strong> | Bath: <strong>2</strong></p>
                <a href="#" class="favorite-feature"><i class="far fa-heart"></i></a>
            </div>
            <div class="footer-content">
                <div class="author d-flex">
                    <div class="img">
                        <img src="~/https://via.placeholder.com/37/ededed/000/" class="rounded-circle" alt="Behome">
                    </div>
                    <p class="mb-0 align-self-center">Lionel Richie</p>
                </div>
                <div class="right-content">
                    <a href="#" class="advanced"><span>a</span></a>
                </div>
            </div>

            <div class="house-feature">
                <ul class="list-feature">
                    <li>CC Camera</li>
                    <li>Wi-Fi</li>
                    <li>Power Connections</li>
                    <li>Weekley Clean</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="feature-item">
            <div class="img">
                <img src="~/https://via.placeholder.com/390x315/aaa/999/" alt="Behome" class="img-fluid">
                <div class="hover">
                    <div class="button-group">
                        <a href="#" class="button-yellow">For Rent</a>
                        <a href="#" class="tag-primary">Hot Offer</a>
                    </div>
                    <div class="pricing">
                        <h5 class="mb-0 color-white">$630.00 <span>/Sqft</span></h5>
                        <a href="#"><i class="fas fa-exchange-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="content-title">
                <h4><a href="#">Bright beautiful beach house with interior.</a></h4>
                <p><i class="fas fa-map-marker-alt primary-color"></i> Newport Beach, CA</p>
            </div>
            <div class="content-middle">
                <p class="mb-0 d-inline-block"><i class="flaticon-building pr-1"></i> Rooms: <strong>4</strong> | Bed: <strong>1</strong> | Bath: <strong>2</strong></p>
                <a href="#" class="favorite-feature"><i class="far fa-heart"></i></a>
            </div>
            <div class="footer-content">
                <div class="author d-flex">
                    <div class="img">
                        <img src="~/https://via.placeholder.com/37/ededed/000/" class="rounded-circle" alt="Behome">
                    </div>
                    <p class="mb-0 align-self-center">Lionel Richie</p>
                </div>
                <div class="right-content">
                    <a href="#" class="advanced"><span>a</span></a>
                </div>
            </div>

            <div class="house-feature">
                <ul class="list-feature">
                    <li>CC Camera</li>
                    <li>Wi-Fi</li>
                    <li>Power Connections</li>
                    <li>Weekley Clean</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="feature-item">
            <div class="img">
                <img src="~/https://via.placeholder.com/390x315/aaa/999/" alt="Behome" class="img-fluid">
                <div class="hover">
                    <div class="button-group">
                        <a href="#" class="button-yellow">For Rent</a>
                        <a href="#" class="tag-primary">Featured</a>
                    </div>
                    <div class="pricing">
                        <h5 class="mb-0 color-white">$630.00 <span>/Sqft</span></h5>
                        <a href="#"><i class="fas fa-exchange-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="content-title">
                <h4><a href="#">Family house noosa with mod green garden.</a></h4>
                <p><i class="fas fa-map-marker-alt primary-color"></i> Newport Beach, CA</p>
            </div>
            <div class="content-middle">
                <p class="mb-0 d-inline-block"><i class="flaticon-building pr-1"></i> Rooms: <strong>4</strong> | Bed: <strong>1</strong> | Bath: <strong>2</strong></p>
                <a href="#" class="favorite-feature"><i class="far fa-heart"></i></a>
            </div>
            <div class="footer-content">
                <div class="author d-flex">
                    <div class="img">
                        <img src="~/https://via.placeholder.com/37/ededed/000/" class="rounded-circle" alt="Behome">
                    </div>
                    <p class="mb-0 align-self-center">Lionel Richie</p>
                </div>
                <div class="right-content">
                    <a href="#" class="advanced"><span>a</span></a>
                </div>
            </div>

            <div class="house-feature">
                <ul class="list-feature">
                    <li>CC Camera</li>
                    <li>Wi-Fi</li>
                    <li>Power Connections</li>
                    <li>Weekley Clean</li>
                </ul>
            </div>
        </div>
    </div>
</div>*@
