@model buscandomitrago.Models.LBebida

@{
    ViewData["Title"] = "Buscando mi trago";
}
<div class="row" id="bebidas">
    @foreach (var i in Model.bebida)
    {
        <div class="col-md-4 mb-30">
            <div class="feature-item">
                <div class="img">
                    <img src="@i.strDrinkThumb" class="img-fluid">
                    <div class="hover">
                        <div class="button-group">
                            <a href="#" class="favorite-feature"><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                </div>
                <div class="content-title">
                    <h4><a href="#">@i.strDrink</a></h4>
                    <p><i class="fas fa-cocktail primary-color"></i> Se sirve en: @i.strGlass</p>
                </div>
                <div class="content-middle">
                    <p class="mb-0 d-inline-block"><i class="far fa-lemon pr-1"></i> 
                        <strong>Ingredientes:</strong> @i.strIngredient1, @i.strIngredient2, @i.strIngredient3
                    </p>
                </div>
                <div class="footer-content">
                    <div class="author d-flex">
                        <p class="mb-0 align-self-center"><i class="fas fa-tag primary-color"></i> Categoria: 
                            @i.strTags
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>